.fill-area {
    display: table;
    z-index: -1;
    position: absolute;
    top: -320000px;
    left: -320000px;
    width: 640000px;
    height: 640000px;
  }
  
  .background {
    background-color: var(--primary-foreground);
    opacity: 1;
    background:
      linear-gradient(90deg, var(--primary-foreground) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--primary-foreground) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--primary);
  }
  